{% extends "base.html" %}

{% block loadcss %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'f5teams/f5teams.css' %}">
    <link rel="stylesheet" href="{% static 'project/modals.css' %}">
{% endblock %}

{% block loadjs %}
    <script src="{% static 'project/modals.js' %}"></script>
{% endblock %}


{% block title %}
{% endblock %}

{% block modals%}
    {% if user.is_authenticated %}
    <div class="modal_wrapper" id="leave_team_popup">
        <form class="modal_form" method="post" action="{% url 'teams:leave' team.id user.id %}">
            {% csrf_token %}
            <div class="container">
                <h1>Leave Team</h1>
                <p> Are you sure you want to leave this team?</p>
                <div class="button_link_group modal_combo">
                    <button type="reset" onclick="hideById('leave_team_popup')" class="cancel">Cancel</button>
                    <button type="submit" onclick="hideById('leave_team_popup')" class="delete">Leave</button>
                </div>
            </div>
        </form> 
    </div>
    <div class="modal_wrapper" id="delete_team_popup">
        <form class="modal_form" method="post" action="{% url 'teams:delete' team.id %}">
            {% csrf_token %}
            <div class="container">
                <h1>Delete Team</h1>
                <p> Are you sure you want to delete this team?</p>
                <div class="button_link_group modal_combo">
                    <button type="reset" onclick="hideById('delete_team_popup')" class="cancel">Cancel</button>
                    <button type="submit" onclick="hideById('delete_team_popup')" class="delete">Delete</button>
                </div>
            </div>
        </form> 
    </div>
    {% endif %}

{% endblock %}

{% block content %}
<div class="section">
    <div class="in_margins_60">
        <div class="section_title">
            {{team.team_name}}
        </div>
        <div class="editor">
            {% if user.is_authenticated and user in team_members %}
            <div class="button_link_group">
                <a href="{% url 'teams:edit' team.id %}" class="button_link neutral">Edit team</a> |
                <a class="modal_link neutral" onclick="popupById('delete_team_popup')">Delete team</a>
            </div>
            {% endif %}
        </div>
        <div class="section_wrapper">
            <div class="team_section">
                <div class="team_title">
                    Banner
                </div>
                <div class="team_banner">
                    <img class="team_banner_img" src="https://i.imgur.com/OLECDBq.png" />
                </div>  
            </div>
            <div class="team_section">
                <div class="team_title">
                    Club history
                </div>
                <div class="team_bio">
                    {{ team.bio |safe }}
                </div>  
            </div>
            <div class="team_section">
                <div class="team_title">
                    Members
                </div>
                <div class="team_members">
                    {% if user.is_authenticated and user not in team_members %}
                    <div class="button_link_group">
                        <a href="{% url 'teams:join' team.id user.id %}" class="button_link neutral">Join team</a>
                    </div>
                    {% elif user.is_authenticated and user in team_members %}
                    <div class="button_link_group">
                        <a class="modal_link neutral" onclick="popupById('leave_team_popup')">Leave team</a>
                    </div>
                    {% else %}
                    <div class="button_link_group">
                    <a href="{% url 'members:create_member' %}" class="button_link neutral">Join team</a>
                    </div>
                    {% endif %}
                    
                    <div class="members_list results_list">
                        {% for member in  team_members %}
                            <div class="member_list_item">
                                <h4>
                                    <a href="{% url 'members:public_profile' member.username %}">{{member.username}}</a>
                                </h4>
                                <h5>{{member.get_user_type_str}}</h5>
                            </div>
                        {% empty %}
                            <p>This team has no members yet. <a class="button_link primary" href="{% url 'index:contact_support' %}">Know the coach?</a></p>
                        {% endfor %}
                    </div>
                </div>  
            </div>
            <div class="team_section">
                <div class="team_title">
                    Upcoming matchups
                </div>
                <div class="matchup_list">
                    {% for match in upcoming_matches %}
                        <div class="member_list_item">
                        
                            {% if match.home_team == team %}
                                {% if match.away_team == None %}
                                    <p>{{match.home_team}} vs {{match.away_team}}</p>
                                {% else %}
                                    <p>{{match.home_team}} vs <a href="{% url 'teams:detail' match.away_team.id %}">{{match.away_team}}</a></p>
                                {% endif %}
                            {% else %}
                                {% if match.home_team == None %}
                                    <p>{{match.home_team}} @ {{match.away_team}}</p>
                                {% else %}
                                    <p><a href="{% url 'teams:detail' match.home_team.id %}">{{match.home_team}}</a> @ {{match.away_team}}</p>
                                {% endif %}
                            {% endif %}

                            <a href="{% url 'teams:detail_match' match.id %}">View Matchup</a>
                            <div class="match_location_info">
                                <p> {{match.match_date}} </p>
                                <p> {{match.match_location}}</p>
                            </div>
                        </div>
                    {% empty %}
                        <h3> No Upcoming Matches </h3>
                    {% endfor %}
                </div>
            </div>
            <div class="team_section">
                <div class="team_title">
                    Championships
                </div>
                <div class="match_results">
                   No trophies to display here. 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
