{% extends "base.html" %}

{% block loadcss %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'f5teams/f5teams.css' %}">
    <link rel="stylesheet" href="{% static 'project/modals.css' %}">
{% endblock %}

{% block loadjs %}
    <script src="{% static 'project/modals.js' %}"></script>
{% endblock %}

{% block title %}
{% endblock %}

{% block modals %}
<div class="modal_wrapper" id="popup_content">
    <form class="modal_form" method="post" action="{% url 'teams:submit_score_report' match.id %}">
        {% csrf_token %}
        <div class="container">
            {{score_report_form.as_p}}

            <div class="button_link_group modal_combo">
                <button type="reset" onclick="hidePopupContent()">Cancel</button>
                <button type="submit" onclick="hidePopupContent()">Submit</button>
            </div>
        </div>
    </form> 
</div>
{% endblock %}

{% block content %}

<div class="section">
    <div class="in_margins_60">
        <div class="match_wrapper">
            <div class="match_section">
                <div class="small_title">
                    Matchup
                </div>
                <div class="match_primary">
                    <a class="team" href="{% url 'teams:detail' match.home_team.id %}">{{ match.home_team.team_name }}</a>
                    <div class="score">{{ match.get_best_score_report.home_team_score }}</div>

                    <a class="team" href="{% url 'teams:detail' match.away_team.id %}">{{ match.away_team.team_name }}</a>
                    <div class="score">{{ match.get_best_score_report.away_team_score }}</div>
                </div>
                <div class="match_meta">
                    <div class="meta_data">
                        {{ match.match_date }}
                    </div>
                    <div class="meta_data">
                        {{ match.match_location }}
                    </div>
                </div>
            </div>
            <div class="match_section">
                <div class="small_title">
                    Live scores
                </div>
                <div class="call_out">
                    <p class="call_text">The scores here are from real-time submissions by fans like you. Our systems ensure accuracy, but if anything seems amiss, please let us know.
                    </p>
                    
                    <p>Legend</p>
                    <ul class="call_list">
                        <li>A <i class="fa fa-check fa-lg" aria-hidden="true"></i> is a verified score.</li> 
                        <li>A <i class="fa fa-star fa-lg" aria-hidden="true"></i> is the best score.</li> 
                    </ul>
                </div>
                <div class="scores_list">
                    {% for report in reported_scores %}
                        {% if forloop.first %}
                            <div class="score_record">
                                {{report.home_team_score}} - {{report.away_team_score}} 
                                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-check fa-lg" aria-hidden="true"></i>,
                            </div>
                        {% else %}
                            <div class="score_record">{{report.home_team_score}} - {{report.away_team_score}},</div>
                        {% endif %}
                    {% empty %}
                        <div class="score_record">No scores submitted by fans during this match.</div>
                    {% endfor %}
                </div>
                <div class="submit">
                    <button type="input" onclick="showPopupContent()">Submit Score Report</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
