{% extends "base.html" %}

{% block loadcss %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'f5teams/f5teams.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<hr>
<div class="section">
    <h1>{{team.team_name}}</h1>

    {% if user.is_authenticated %}
    <div class="button_link_group">
        <a href="{% url 'teams:edit' team.id %}" class="button_link neutral">Edit team</a> |
        <a href="{% url 'teams:delete' team.id %}" class="button_link neutral">Delete team</a>
    </div>
    {% endif %}

    <div >
        <h3>Content</h3>
        <p>{{ team.bio |safe }}
    </div>
</div>

<div class="section">

    {% if user.is_authenticated and user not in team_members %}
    <div class="button_link_group">
        <a href="{% url 'teams:join' team.id user.id %}" class="button_link neutral">Join team</a>
    </div>
    {% endif %}
    {% if user.is_authenticated and user in team_members %}
    <div class="button_link_group">
        <a href="{% url 'teams:leave' team.id user.id %}" class="button_link neutral">Leave team</a>
    </div>
    {% endif %}

    <div >
        <h2>Members</h2>

        <div class="results_list">
            {% for member in  team_members %}
                <div class="member_list_item">
                    <h4>
                        <a href="{% url 'index:get_member' user.id %}">{{member.username}}</a>
                        <div class="float_right_div">
                            <h5>{{member.get_user_type_str}}</h5>
                        </div>
                    </h4>
                </div>
            {% empty %}
                <h3>Oh No! This team is empty</h3>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
