{% extends "base.html" %}

{% block loadcss %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'f5teams/f5teams.css' %}">
    <link rel="stylesheet" href="{% static 'project/matches.css' %}">
{% endblock %}

{% block loadjs %}
    <script src="{% static 'project/filters.js' %}"></script>
{% endblock %}

{% block title %}
Teams
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">Teams</h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="in_margins_60">
        <h2 class="section_title">Service overview</h2>
        <p>We offer many different services for teams including processing to create a 501(c) fund, social media marketing packages, college recruiting videos with valuable player tracking, and matches with live scores for family and fans. If you are a player or a coach, visit the members page for more clarity.</p>

        <ul>
            <li>501(c) creation</li>
            <li>501(c) creation</li>
        </ul>
    </div>
</div>
{% endblock %}



