{% extends "base.html" %}

{% block loadcss %}
{% endblock %}

{% block title %}
Teams
{% endblock %}

{% block content %}
<div class="section">
<div class="in_margins_60">
    <div class="section_header">
        <h2 class="section_title">Clubs</h2>
        <button class="filter" onclick="toggleSearchForm()">View filters <i class="fa fa-filter"></i></button>
    </div>

    <div id="search_form_container" class="search_form_container">
        <form method="get" action="{% url 'teams:home' %}">
            {{ search_form.as_p }}
            <button class="submit" type="submit">Search</button>
        </form>
    </div>

    <div class="results_list">
        {% for team in teams %}
        <div class="list_item">
            <details>
                <summary>
                    <a href="{% url 'teams:detail' team.id %}" class="button_link default">{{team.team_name}}</a>
                    <div class="float_right_div">
                        <h5>{{team.city}}, {{team.state}}</h5>
                    </div>
                </summary>
                <p class="shorty">{{ team.bio | truncatewords:15 | safe}}</p>
            </details>
        </div>
    </div>
</div>
</div>
{% endblock %}



