p {
    line-height: 1.7rem;
}

.blog_category {
    color: gray;
    font-weight: 400;
}

.blog_title {
    font-weight: 400;
}

.blog_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: .25rem 0;
}

.tag_item {
    border: 1px solid black;
    border-radius: 40px;
    padding: 0 .5rem;
    width: fit-content;
}

.control_options {
    display: flex;
    border: 1px solid black;
    width: fit-content;
    padding: .5rem 0;
}

.edit_blog {
    flex: 50%;
    background-color: gray;
    color: white;
    padding: 0 1rem;
    text-decoration: none;
}

.delete_blog {
    flex: 50%;
    background-color: darkred;
    color: white;
    padding: 0 1rem;
    text-decoration: none;
}