.data_list_wrapper {
    margin: 3rem 0 0 0;
}

.data_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.data_tag {
    padding: 0 .5rem;
    background-color: darkred;
    color: white;
}

.data_obj {
    display: flex;
    flex-direction: column;
}

.data_obj_img img {
    width: 100%;
}

.data_obj_desc {
    padding: .5rem;
    border: 1px solid black;
}

@media only screen and (max-width: 680px) {
    .data_list {
        grid-template-columns: 1fr 1fr;
    }
}
