<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    {% block loadcss %}{% endblock%}

</head>
<body>

<div class="container">
    <nav>
        <ul class="navlist">
            <li><a href="{% url 'index:home' %}">Home</a></li>
            <li><a href="{% url 'store:home' %}">Store</a></li>
            <li><a href="{% url 'index:create_member' %}">Member</a></li>
            <li><a href="{% url 'blogs:home' %}">Blogs</a></li>
            <li><a href="{% url 'teams:home' %}">Teams</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}

    <div class="footer">
        <hr >
        <ul class="navlist">
            <li>Contact Us</li>
        </ul>
    </div>
</div>

</body>
</html>