<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block loadcss %}{% endblock%}

    <script src="{% static 'project/scripts.js' %}"></script>
    {% block loadjs %}{% endblock %}

</head>
<body>

<nav>
    <ul class="navlist">
        <li><a href="{% url 'index:home' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="{% url 'store:home' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Store</a></li>
        <li><a href="{% url 'blogs:home' %}"><i class="fa fa-rss" aria-hidden="true"></i> Blogs</a></li>
        <li><a href="{% url 'teams:home' %}"><i class="fa fa-users" aria-hidden="true"></i> Teams</a></li>
        <li><a href="{% url 'index:contact_support' %}"><i class="fa fa-life-ring" aria-hidden="true"></i> Contact</a></li>
        
        <div class="member">
            {% if user.is_authenticated %}
            <li><a href="{% url 'members:dashboard' user.username %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ user.username }}</a></li>
            <li><a href="{% url 'members:logout_member' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            {% else %}
            <li><a href="{% url 'members:home' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Members</a></li>
            <li><a href="{% url 'members:login_member' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
            <li><a href="{% url 'members:create_member' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a></li>
            {% endif %}
        </div>
    </ul>
    <div class="toggle_button" onclick="toggleMenu()">
        <i class="fa fa-window-close" aria-hidden="true"></i>
    </div>
</nav>

<div class="brand_bar">
    <div class="toggle_button" onclick="toggleMenu()">
        <i class="fa fa-empire" aria-hidden="true"></i>
    </div>
    
    <div class="brand_title">
        <div class="account_control">
            <ul class="control_list">
                {% if user.is_authenticated %}
                <li><a class="button_link" href="{% url 'members:dashboard' user.username %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ user.username }}</a></li>
                {% else %}
                <li><a class="button_link" href="{% url 'members:login_member' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login</a></li>
                <li><a class="button_link" href="{% url 'members:create_member' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Signup</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="text">
            <h1>F5R</h1>
        </div>
    </div>
</div>

<div class="container">

    {% block content %}{% endblock %}

    <div class="footer">
        <hr >
        <ul class="navlist">
            <li><a href="{% url 'index:contact_support' %}"><i class="fa fa-life-ring" aria-hidden="true"></i> Support</a></li>
        </ul>
    </div>
</div>

</body>
</html>
