{% extends "base.html" %}


{% block title %}
Member
{% endblock %}

{% block content %}
<hr>
<div class="section">
    {% if member.is_authenticated %}
        {% if request.user == member %}
            <h1>Howdy, {{ member.username }}!</h1><br />
            <p><a href="{% url 'index:logout_member'%}">Logout</a></p>
        {% else %}
            <h1>{{ member.username }}!</h1><br />
            <p>Bio: {{ member.bio }}</p>
        {% endif %}
    {% else %}
        <h1>{{ member.username }}!</h1><br />
        <p>Bio: {{ member.bio }}</p>
    {% endif %}
</div>


{% endblock %}