{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5index/f5index.css' %}">
    <link rel="stylesheet" href="{% static 'f5blogs/blogs.css' %}">
    <link rel="stylesheet" href="{% static 'project/products.css' %}">
    <link rel="stylesheet" href="{% static 'project/matches.css' %}">
{% endblock %}

{% block loadjs %}
    {% load static %}
    <script src="{% static 'f5index/f5index.js' %}"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="section black_bg">
    <div class="in_margins_60">
        <div class="jumbo_feature">
            <h1 class="jumbo_title">First Five</h1>
            <p class="subtext">The only official community platform for rugby.</p>
        </div>
    </div>
</div>
<div class="in_margins_60">
    <div class="fact_of_the_day">
        <p class="dismiss_button">X</p>
        <p class="fact_title">Daily Rugby Fact</p>
        <p class="fact_message">The Rugby World Cup, first held in 1987, is a men's rugby union tournament contested every four years between the top international teams. The tournament was first won by New Zealand, who defeated France 29-9 in the final.</p>
    </div>
</div>
<div class="section">
    <div class="in_margins_60">
        <h1 class="section_title">Welcome</h1>
        <p>Our rugby platform is one of a kind. We created it especially for the North American Rugby Community. Don't wait to leave your mark on rugby history, interact on the platform and make a difference in the rugby world today. Visit our members page to find out where you fit in, or read more about what we do down below.</p>
    </div>
</div>

<div class="section">
    <div class="in_margins_60">
        <h1 class="section_title">Rugby Talk</h1>
        <p>We've talked to a few people to gain some insight on the true state of American Rugby, we figured you would want to listen in on what they had to say.</p>
    </div>
</div>

{% endblock %}


