{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5index/f5index.css' %}">
{% endblock %}

{% block loadjs %}
    {% load static %}
    <script src="{% static 'f5index/f5index.js' %}"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="section black_bg">
    <div class="in_margins_60">
        <div class="jumbo_feature">
            <h1 class="jumbo_title">First Five</h1>
            <p class="subtext">The only official community platform for rugby.</p>
        </div>
    </div>
</div>
<div class="in_margins_60">
    <div class="fact_of_the_day">
        <p class="dismiss_button">X | Dismiss</p>
        <p class="fact_title">Daily Rugby Fact</p>
        <p class="fact_message">{{ fact }}</p>
    </div>
</div>
<div class="section">
    <div class="in_margins_60">
        <h1 class="section_title">Welcome</h1>
        <p>Our rugby platform is one of a kind, created especially for the North American Rugby Community. Interact with the platform and make a difference in the rugby world today. Visit our <a class="redlink" href="{% url 'members:home' %}">members</a> page to find out where you fit in, or read more about what we do down below.</p>
    </div>
</div>

<div class="section">
    <div class="in_margins_60">
        <h1 class="section_title">Quick News</h1>
        <p>We have carefully curated a list of relevant summaries from the current month. Our platform automatically finds the best rugby news, and lists it here so you never have to go looking.</p>
        <p><a class="redlink" href="{% url 'index:contact_support' %}">Suggest topic of interest.</a></p>
        <ul class="blog_list">
            {% if blogs %}
            {% for blog in blogs %}
                <li class="blog_list_item"><a class="redlink" href="{% url 'blogs:detail' blog.id %}">{{ blog.title }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="section">
    <div class="in_margins_60">
        <h1 class="section_title">Digital Jersey Archives</h1>
        <p>We house the only online <a class="redlink" href="{% url 'store:home' %}">repository</a> of vintage rugby jerseys. Each with it's very own story to tell from its years of use on the pitch and in the pub. List your very own jersey and track it's ownership through the years.</p>
    </div>
</div>

<div class="section">
    <div class="in_margins_60">
        <h1 class="section_title">Rugby on the Ritz</h1>
        <p>Seeking a deeper understanding of American Rugby's current landscape, we engaged in conversations with rugby friends from all over. Follow our <a class="redlink" href="https://www.instagram.com/firstfiverugby/">socials</a> to find out who is next, or tag friend down below.</p>
        <p><a class="redlink" href="{% url 'index:contact_support' %}">Suggest person of interest.</a></p>
    </div>
</div>
{% endblock %}


