{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5index/f5index.css' %}">
{% endblock %}

{% block loadjs %}
    {% load static %}
    <script src="{% static 'f5index/f5index.js' %}"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="section">
    <div class="in_margins_60">
        <h2 class="section_title">Latest News</h2>

        <div class="home_feature">
            <div class="top_blog">
                <div class="tag">Teams</div>
                <div class="blog_title">
                    Services for everything all your rugby needs
                </div>
                <div class="top_blog_img">
                    <img src="https://i.imgur.com/Af01NeV.png" width="100%" />
                </div>
                <div class="blog_meta">
                    <div class="blog_date">Dec 7th, 2023</div>
                </div>
            </div>
            <div class="side_blogs">
                <div class="blog">
                    <div class="tag">Players</div>
                    <div class="blog_title">
                        Strength programs engineered for success
                    </div>
                    <div class="blog_img">
                        <img src="https://i.imgur.com/a8NBqDz.png" width="100%"/>
                    </div>
                    <div class="blog_meta">
                        <div class="blog_date">Dec 4th, 2023</div>
                    </div>
                </div>
                <div class="blog">
                    <div class="tag">Players</div>
                    <div class="blog_title">
                        New rugby coffee shop operating now
                    </div>
                    <div class="blog_img">
                        <img src="https://i.imgur.com/6SyNoba.png" width="100%"/>
                    </div>
                    <div class="blog_meta">
                        <div class="blog_date">Dec 3th, 2023</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section">

</div>
{% endblock %}


