{% extends "base.html" %}

{% block loadcss %}

{% endblock %}

{% block title %}
Thank you
{% endblock %}

{% block content %}
<div class="section">
  <h2>Message Submitted. <i class="fa fa-check" aria-hidden="true"></i></h2>
  <p>Your digital carrier pigeon is taking off. Expect a response within 24-48 hours. You can safely navigate away from this page, for example: <a href="{% url 'store:home' %}" class="button_link neutral">click <i class="fa fa-shopping-bag" aria-hidden="true"></i></a></p>

  <br />
  <p><img height="100px" src="https://i.giphy.com/media/v0wGQnPXJapUyKiA5z/giphy.webp">
  <img height="100px" src="https://i.giphy.com/media/v0wGQnPXJapUyKiA5z/giphy.webp"><img height="100px" src="https://i.giphy.com/media/v0wGQnPXJapUyKiA5z/giphy.webp"><img height="100px" src="https://i.giphy.com/media/v0wGQnPXJapUyKiA5z/giphy.webp"><img height="100px" src="https://i.giphy.com/media/v0wGQnPXJapUyKiA5z/giphy.webp">
  </p>
</div>
{% endblock %}