/* static/project/navigation.css */
.nav_wrapper {
    padding: .5rem 0;
    background: #000000;
    color: white;
}

.nav_wrapper_hidden {
    position: absolute;
    height: 100%;
    width: 50%;
    background: darkred;
    color: white;
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in;
    border-top: 5px solid white;
    z-index: 10;
}

.nav_wrapper_hidden.show {
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.nav_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;

    .section_title {
        text-transform: uppercase;
        text-align: center;
        padding: .5rem;
        background: black;
        font-size: 1.2rem;
        letter-spacing: .25rem;
        border: 1px solid white;
    }
}

.nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style-type: none;
}

.nav_wrapper_hidden h1 {
    margin: 0;
}

.nav_toggler {
    height: 100%;
}

.nav_toggler:hover {
    cursor: pointer;
}

.nav_apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.account_wrapper {
    padding: 1rem 0;
    background: black;
}

.account_links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: flex-end;
}

#username {
    background: darkred;
}

.app .auth {
   display: flex;
   flex-direction: row;
   gap: 1rem; 
}

.brand #title {
    margin: 0;
}

.brand_link {
    text-decoration: none;
    color: white;
}

.brand_link:visited {
    color: white;
}