/* static/project/navigation.css */
.nav_wrapper {
    padding: .5rem 0;
    background: #000000;
    color: white;
}

.nav_wrapper_hidden {
    position: absolute;
    min-height: 100%;
    background: darkred;
    color: white;
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in;
    z-index: 10;
    padding: 1rem;
}

.nav_wrapper_hidden.show {
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.nav_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;

    .section_title {
        letter-spacing: .25rem;
    }
}

.nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    font-size: 1.4em; 
}

.navlink {
    color: rgb(227, 227, 227);
    text-decoration: none;
    font-size: 1.1em;
}

.navlink:hover {
    color: rgb(91, 0, 0);
}

.nav_wrapper_hidden h1 {
    margin: 0;
}

.nav_toggler {
    height: 100%;
}

.nav_toggler:hover {
    cursor: pointer;
}

.nav_apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.account_wrapper {
    padding: 1rem 0;
    background: black;
}

.account_links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: flex-end;
}

#username {
    background: darkred;
}

.app .auth {
   display: flex;
   flex-direction: row;
   gap: 1rem; 
}

.brand #title {
    margin: 0;
}

.brand_link {
    text-decoration: none;
    color: white;
}

.brand_link:visited {
    color: white;
}

@media only screen and (max-width: 680px) {
    .nav_wrapper_hidden {
        width: 100%;
    }
}