/* static/project/navigation.css */
.nav_wrapper {
    padding: .5rem 0;
    background: #000000;
    color: white;
}

.nav_wrapper_hidden {
    height: 100%;
    background: darkred;
    color: white;
    display: none;
}

.nav_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style-type: none;
}

.nav_wrapper_hidden h1 {
    margin: 0;
}

.nav_toggler {
    height: 100%;
}

.nav_toggler:hover {
    cursor: pointer;
}

.nav_apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.account_wrapper {
    background: darkred;
    padding: .25rem 0;
}

.app .auth {
   display: flex;
   flex-direction: row;
   gap: 1rem; 
}

.brand #title {
    margin: 0;
}

.brand_link {
    text-decoration: none;
    color: white;
}

.brand_link:visited {
    color: white;
}