{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
    <link rel="stylesheet" href="{% static 'f5members/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'project/components/tables.css' %}">
{% endblock %}

{% block title %}
Manage Users
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">Manage members</h1>
        </div>
    </div>
</div>

<div class="section">
  <div class="in_margins_60">
    <div class="control_actions">
                <h4>Object Manager</h4>
                <div class="control_list">
                    <a href="{% url 'members:tools_create_member' %}">Add member</a>
                </div>
            </div>
    <table class="f5-table">
      <thead>
          <tr>
              <th>Level</th>
              <th>Profile</th>
              <th>Username</th>
              <th>+XP</th>
              <th>User Type</th>
          </tr>
      </thead>
      <tbody>
          {% for member in members %}
          <tr>
              <td>{{ member.level }}</td>
              <td>
                {% if member.profile %}
                <img class="profile_image" src="{{ member.profile.image_link }}" alt="profile_image" />
                {% else %}
                    <img class="profile_image" src="https://www.place-hold.it/25x25" alt="profile_image" />
                {% endif %}
              </td>
              <td><a class="profile_edit_link" href="{% url 'members:edit_member' member.id %}">{{ member.username }}</a></td>
              <td>{{ member.xp }}</td>
              <td>{{ member.get_user_type_str }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}