{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
    <link rel="stylesheet" href="{% static 'f5members/profiles.css' %}">
{% endblock %}

{% block title %}
Manage Users
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">Manage Users</h1>
        </div>
    </div>
</div>

<div class="section">
  <div class="in_margins_60">
      <div class="section_title_wrapper">
          <h2 class="section_title">Find a User</h2>
      </div>
      <div class="profile_chooser">
        <!-- Loop through each profile picture -->
        {% for member in members %}
        <div class="profile_wrapper">
          <div class="profile_image_wrapper">
            <img class="profile_image" src="{{ member.profile.image_link }}" alt="{{ member.profile.name }}"/>
          </div>
          <div class="profile_meta">
            <div class="profile_name">{{ member.username }}</div>
            <div class="profile_collection">{{ member.get_user_type_str }}</div>
            <div><a class="profile_edit_link" href="{% url 'members:public_profile' member.username %}">visit</a></div>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>
{% endblock %}