{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5blogs/f5blogs.css' %}">
    <link rel="stylesheet" href="{% static 'project/filters.css' %}">
    <link rel="stylesheet" href="{% static 'project/blogs.css' %}">
{% endblock %}

{% block loadjs %}
    <script src="{% static 'project/filters.js' %}"></script>
{% endblock %}

{% block title %}
Blogs
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">Blogs</h1>
        </div>
    </div>
</div>

<div id="blog_search" class="section">
    <div class="in_margins_60">

        <div class="filter_toggler" onclick="toggleFilters()">
            <i id="filter_button" class="fa-solid fa-filter"></i>
            View Filters
        </div>

        <div class="filter_container" data-selected-category="{{ selected_category }}">
            {% if not selected_category or selected_category == 'all' %}
            <h2 class="section_title">Results for: All</h2>
            {% else %}
            <h2 class="section_title">Results for: {{ selected_category }}</h2>
            {% endif %}
            <ul class="filter_list">
                <li>
                    <a class="filter_link{% if not selected_category or selected_category == 'all' %} selected{% endif %}" href="?category=all#blog_search">All</a>
                </li>
                <li>
                    <a class="filter_link reset" href="#blog_search">Reset Filters</a>
                </li>
                
                {% for tag in filter_tags %}
                <li>
                    <a class="filter_link{% if selected_category == tag.name %} selected{% endif %}" href="?category={{ tag.name }}#blog_search">{{ tag.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        

        <div class="blog_container">
            {% for blog in blogs %}
            <div class="blog_card">
                <div class="blog_thumbnail" style="background-image: url('{{ blog.thumbnail }}');"></div>
                <h3 class="blog_title">{{ blog.title }}</h3>
                <p class="blog_tag"><a class="blog_link" href="{% url 'blogs:home' %}?category={{ blog.tags.first.name }}#blog_search">{{ blog.tags.first }}</a></p>
                <p class="blog_date">{{ blog.create_date|date:"m.d.Y" }}</p>
                <p class="blog_description">{{ blog.content|safe|truncatewords:20 }}</p>
                <p class="blog_read"><a class="blog_link" href="{% url 'blogs:detail' blog.id %}">Read</a></p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
