{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5blogs/f5blogs.css' %}">
{% endblock %}

{% block title %}
Articles
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">Articles</h1>
        </div>
    </div>
</div>
<div class="data_list_wrapper">
    <div class="in_margins_60">
        <div class="data_list">
            <div class="data_obj">
                <div class="data_tag">
                    <p>Community</p>
                </div>
                <div class="data_obj_img">
                    <img src="https://i.imgur.com/84WNLVO.jpeg" />
                </div>
                <div class="data_obj_desc">
                    <p>This is a short blog preview.</p>
                </div>
            </div>

            <div class="data_obj">
                <div class="data_tag">
                    <p>Teams</p>
                </div>
                <div class="data_obj_img">
                    <img src="https://i.imgur.com/sbWIuq4.jpg" />
                </div>
                <div class="data_obj_desc">
                    <p>This is a another blog preview.</p>
                </div>
            </div>

            <div class="data_obj">
                <div class="data_tag">
                    <p>Coaching</p>
                </div>
                <div class="data_obj_img">
                    <img src="https://i.imgur.com/ADYm3WA.jpeg" />
                </div>
                <div class="data_obj_desc">
                    <p>This is the last blog preview.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
