{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5blogs/f5blogs.css' %}">
    <link rel="stylesheet" href="{% static 'project/forms.css' %}">
{% endblock %}

{% block title %}
Create Blog
{% endblock %}

{% block content %}
<div class="section">
    <div class="in_margins_60">
        <div class="form_wrapper">
            <h2>Create Blog</h2>
            <form method="post" action="{% url 'blogs:create_blog' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <button class="submit" type="submit">Post Blog</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}