{% extends "base.html" %}


{% block title %}

{% endblock %}

{% block content %}
<hr>
<div class="section">
    <h1>{{blog.title}}</h1>

    <div class="edit_button_group">
        <form method="get" action="{% url 'blogs:edit' blog.id %}">
            {% csrf_token %}
            <button type="submit"> Edit </button>
        </form>
        <div class="horizontal_divider"></div>
        <form method="post" action="{% url 'blogs:delete' blog.id %}">
            {% csrf_token %}
            <button type="submit"> Delete </button>
        </form>

    </div>
    <p>Authored On: {{ blog.create_date }}</p>

    <div class="blog_container">
        <h3>Content</h3>
        <p>{{ blog.content|safe }}
    </div>

</div>

{% endblock %}