{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5blogs/f5blogs.css' %}">
{% endblock %}



{% block title %}
{% endblock %}

{% block content %}
<hr>
<div class="section">
<div class="blog_detail">
    <h1>{{blog.title}}</h1>

    {% if user == blog.author %}
    <div class="button_link_group">
        <a href="{% url 'blogs:edit' blog.id %}" class="button_link neutral">Edit blog</a> |
        <a href="{% url 'blogs:delete' blog.id %}" class="button_link neutral">Delete blog</a>
    </div>
    {% endif %}

    <p class="blog_date">Published On: {{ blog.create_date }}</p>
    <p class="blog_date">Authored By: {{ blog.author.username }}</p>
    
    <div class="badge_list">
        {% for tag in blog.tags.all %}
        <div class="badge" style="border-color: {{ tag.color }}; color: {{tag.color}};">{{ tag.name }}</div>
        {% endfor %}
    </div>

    <div class="blog_container">
        <h3>Content</h3>
        <p>{{ blog.content|safe }}
    </div>
</div>
</div>

{% endblock %}