{% extends "base.html" %}

{% block loadcss %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'f5blogs/f5blogs.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
<hr>
<div class="section">
    <div class="form_wrapper">
        <h2>Update Blog</h2>
        <form method="post" action="{% url 'blogs:edit' blog_id %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button class="submit" type="submit">Update Blog</button>
        </form>
    </div>
</div>

{% endblock %}