{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5store/f5store.css' %}">
{% endblock %}

{% block title %}
Recent Products
{% endblock %}

{% block content %}
<div class="section">
    <div class="section_header">
        <h2>Products</h2>
        <button class="filter" onclick="toggleSearchForm()">View filters <i class="fa fa-filter"></i></button>
    </div>

	<div id="search_form_container" class="search_form_container">
        <form method="get" action="{% url 'store:home' %}">
            {{ search_form.as_p }}
            <button class="submit" type="submit">Search</button>
        </form>
    </div>

    <div class="results_list">
        {% for product in products %}
        <div class="list_item">
            <details>
                <summary>
                    <a href="{% url 'store:product_detail' product.id %}" class="button_link default">{{ product.name }}</a>
                    <div class="float_right_div">
                        <h5>Price: ${{ product.price }}</h5>
                    </div>
                </summary>
                <p class="shorty">{{ product.description | truncatewords:15 | safe }}</p>
            </details>
        </div>
        {% empty %}
        <h3>There are no products to show :/</h3>
        {% endfor %}
    </div>
{% endblock %}
</div>
