{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5store/f5store.css' %}">
{% endblock %}

{% block title %}
    Create Product
{% endblock %}

{% block content %}
<div class="section">
    <div class="product_form_wrapper">
        <h2>Create Product</h2>
        <form method="post" action="{% url 'store:product_create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button type="submit">Create Product</button>
        </form>
    </div>
</div>
{% endblock %}
