{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5store/f5store.css' %}">
    <link rel="stylesheet" href="{% static 'project/filters.css' %}">
    <link rel="stylesheet" href="{% static 'project/products.css' %}">
{% endblock %}

{% block loadjs %}
    <script src="{% static 'project/filters.js' %}"></script>
{% endblock %}

{% block title %}
Store
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">Store</h1>
        </div>
    </div>
</div>

<div id="product_search" class="section">
    <div class="in_margins_60">

        <div class="product_container">
            {% for product in products %}
            <div class="product_card">
                <h4 class="product_name">{{ product.name }}<h4>
                <div class="product_thumbnail" style="background-image: url('{{ product.images.0 }}');"></div>
                <p class="product_tag"><a class="product_link" href="{% url 'store:home' %}?category={{ product.categories.first.name }}#product_search">{{ product.categories.first }}</a></p>
                <p class="product_price">$--.--</p>
                <p class="product_view"><a class="product_link" href="{% url 'store:product_detail' product.id %}">View</a></p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}

