.members_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.member_list_item {
    padding: .5rem .5rem;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
}

.member_list_item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.member_list_item a:hover {
    text-decoration: underline;
}

.team_profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.team_bio {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.team_members {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.matchup_list {
    margin-top: 1%;
}

.matchup_list .member_list_item{
    padding: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    width: 100%;
}

.match_location_info {
    position: relative;
    float: right; 
    top: -1rem;

    text-align: right;
}

.matchup_header {
    word-wrap: break-word;
}

.matchup_header a{
    text-decoration: underline;
    color: black;
}

.score_reports {
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -1.5rem;
    height: 100%;

    padding: .5rem 2rem;
    border-left: 2px solid white;
}

.matchup_detail {
    padding: 1rem 0;
}

.match_results {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.match_record {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.match_meta {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: .5rem;
    align-items: center;
    border-top: 1px solid black;
    font-size: .75em;
}

.match_result {
    display: flex;
    flex-direction: column;
}

.score {
    font-size: 1.5rem;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.match_result .team {
    font-size: 1.1em;
    color: rgb(35, 35, 35);
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: space-between;
    width: 100%;
}