.members_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.member_list_item {
    padding: .5rem .5rem;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
}

.member_list_item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.member_list_item a:hover {
    text-decoration: underline;
}

.matchup_list {
    margin-top: 1%;
}

.matchup_list .member_list_item{
    padding: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    width: 100%;
}

.match_location_info {
    position: relative;
    float: right; 
    top: -1rem;

    text-align: right;
}

.matchup_header {
    word-wrap: break-word;
}

.matchup_header a{
    text-decoration: underline;
    color: white;
}

.score_reports {
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -1.5rem;
    height: 100%;

    padding: .5rem 2rem;
    border-left: 2px solid white;
}

.matchup_detail {
    padding: 1rem 0;
}