.product_container {
    margin-top: 3rem;
}

.product_detail {
    width: 50%;
    margin: 0 auto;
}

.product_detail p {
    font-size: 1.2em;
    line-height: 1.5rem;
}

.product_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    float: left;
}

.product_date {
    padding-top: 1rem;
}

@media only screen and (max-width: 680px) {
    .product_detail {
        width: 100%;
        margin: 0;
    }
}