/* Product details styling */
.product_detail_wrapper {
    text-align: center;
}

.section_title {
    font-size: 2em;
    margin-bottom: 20px;
}

.image_and_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_wrapper {
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_description {
    font-size: 1em;
    margin-top: 20px;
    text-align: justify;
}

@media (min-width: 768px) {
    .image_and_description {
        flex-direction: row;
        align-items: flex-start;
    }

    .image_wrapper {
        flex-basis: 50%;
        margin-right: 20px;
    }

    .product_description {
        flex-basis: 50%;
    }
}
