.product_name {
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
}

.product_thumbnail {
    margin: 1rem auto;
    width: 50%;
}

.thumbnail_image {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .product_thumbnail {
        width: 70%;
    }
}