<div class="nav_wrapper">
    <div class="in_margins_70">
        <div class="spread">
            <div class="nav_toggler" onclick="toggleMenu()">
                <i id="toggler_button" class="fa-solid fa-bars"></i>
            </div>
            <div class="nav_apps">

                {% if user.is_authenticated %}
                <div class="app">
                    <div class="auth">
                        <a id="username" class="white_link" href="{% url 'members:dashboard'%}">@{{ user.username }}</a>
                        <a class="white_link" href="{% url 'members:logout_member' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                 <div class="app">
                    <div class="auth">
                        <a class="white_link" href="{% url 'members:login_member' %}">Login</a>
                        <a class="white_link" href="{% url 'members:create_member' %}">Signup</a>
                    </div>
                </div>
                {% endif %}

                <div class="app">
                    <div class="brand">
                        <h1 id="title"><a class="brand_link" href="{% url 'index:home' %}">F5R</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav_wrapper_hidden">
    <div class="nav_group">
        <h1 class="section_title">First Five</h1>
        <ul class="nav_list">
            <li><a class="navlink" href="{% url 'index:home' %}">Home</a></li>
            <li><a class="navlink" href="{% url 'blogs:home' %}">Blogs</a></li>
            <li><a class="navlink" href="{% url 'teams:home' %}">Teams</a></li>
            <li><a class="navlink" href="{% url 'store:home' %}">Store</a></li>
            <li><a class="navlink" href="{% url 'members:home' %}">Members</a></li>
            <li><a class="navlink" href="{% url 'index:contact_support' %}">Support</a></li>
        </ul>
    </div>
</div>