{% extends "f5members/base_dashboard.html" %}

{% block additional_content %}
<div class="section">
    <div class="in_margins_60">
        <h2 class="section_title">Admin Tools</h2>
        <div class="control_container">
            We value your <a href="{% url 'index:contact_support' %}">feedback</a>, what would you like to see here?

            <div class="control_actions">
                <h4>Object Manager</h4>
                <div class="control_list">
                    <a href="{% url 'teams:create' %}">Add a Team</a>
                    <a href="{% url 'store:create_product' %}">Add a Product</a>
                    <a href="{% url 'blogs:create_blog'%}">Add a Blog</a>
                    <a href="{% url 'members:manage_users' %}">Manage Users</a>
                    <a class="disabled" href="{% url 'members:manage_users' %}">Site Crawl Request</a>
                </div>
            </div>

        </div>

        
    </div>
</div>
{% endblock %}

