<!-- project/f5members/templates/f5members/player_dashboard.html -->
{% extends "f5members/base_dashboard.html" %}

{% block additional_content %}
    <!-- Specific content for the player dashboard -->
    <div class="user_type">Admin</div>
    
    <br />
    <br />
    
    <div class="section">
        <div class="section_title">
            <h3>User submissions</h3>
        </div>
        <div class="results_list">
            {% for submission in user_submissions %}
                <div class="list_item">
                    <details>
                        <summary class="item_summary">
                            <div>
                            <h4>Email: {{ submission.email }}</h4>
                            <h5>Cell: {{ submission.cell }}</h5>
                            </div>
                            <div class="button_link_group">
                                <a href="#" class="button_link positive">View</a>|
                                <a href="#" class="button_link neutral">Del</a>|
                                <a href="#" class="button_link primary">Archive</a>
                            </div>
                        </summary>
                        <p class="shorty">{{ submission.message | truncatewords:15 | safe }}</p>
                    </details>
                </div>
            {% empty %}
                <p>No submissions yet.</hp>
            {% endfor %}
        </div>
    </div>

{% endblock %}

