<!-- project/f5members/templates/f5members/base_dashboard.html -->
{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
{% endblock %}

{% block title %}
Dashboard / @{{ profile.username }}
{% endblock %}

{% block content %}
<div class="section">
    <div class="profile_img">
        <img src="{{ profile.pic_url }}" alt="{{ profile.username }} Profile Picture" class="img_fluid">
    </div>
    
    <div class="profile_greeting">
        <div class="greet">Profile</div>
        <div class="username">@{{ profile.username }}</div>
        {% if is_editable %}
            <div class="user_type">Private view</div>
            <a href="{% url 'members:edit_member' %}">Edit Profile</a>
        {% else %}
            <div class="user_type">Public view</div>
            <s>Edit Profile</s>
        {% endif %}
    </div>
</div>

<!-- Additional common content can go here -->
{% block additional_content %}{% endblock %}

{% endblock %}

