<!-- project/f5members/templates/f5members/base_dashboard.html -->
{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
    <link rel="stylesheet" href="{% static 'f5members/profiles.css' %}">
{% endblock %}

{% block title %}
Dashboard / @{{ member.username }}
{% endblock %}

{% block content %}
<div class="section">
    <div class="in_margins_60">
        <div class="profile_card_wrapper">
            <div class="profile_card">
                <div class="profile_username">
                    @{{ member.username }}
                </div>
                <div class="dash_wrapper">
                    <div class="dash_banner">
                        <img class="dash_banner_img" src="{{ member.profile.image_link }}" />
                    </div>
                </div>
                <a href="{% url 'members:edit_member' %}">edit profile</a>
            </div>
        </div>
        
        <div class="dash_wrapper">
            {% block additional_sections %}{% endblock %}
            <hr>
            <div class="dash_section">
                <div class="dash_title">
                    Blogs
                </div>
                <div class="dash_data">
                    {% for blog in blogs %}
                        <div class="dash_blog">
                            <div>This is The Blogs Gran Title</div>
                            <div>Dec 6th, 2023</div>
                            <div>Blog Image</div>
                            <div>Blog Description long text goes here</div>
                        </div>
                    {% empty %}
                        <div class="empty_message">
                            Any blogs you write or pin will show up here.
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="dash_section">
                <div class="dash_title">
                    Teams
                </div>
                <div class="dash_data">
                    Any teams you follow or manage will show up here.
                </div>
            </div>
        </div> <!-- end of dash wrapper -->
    </div>
</div>

<!-- Additional common content can go here -->
{% block additional_content %}{% endblock %}

{% endblock %}

