{% extends "base.html" %}

{% block loadcss %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
  <link rel="stylesheet" href="{% static 'project/forms.css' %}">
{% endblock %}

{% block title %}
Create
{% endblock %}

{% block content %}
<div class="section">
  <div class="in_margins_60">
    <h2 class="section_title">Create</h2>
    <div class="form_wrapper">
      <form class="authform" method="post" action="{% url 'members:create_member' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit" type="submit">Create</button>
        <div class="button_link_group">
          <a href="{% url 'members:login_member' %}" class="button_link">Already created an account?</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
