{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
{% endblock %}

{% block title %}
Edit account
{% endblock %}

{% block content %}
<div class="section">
  <div class="in_margins_60">
    <div class="section_title_wrapper">
      <div class="section_title">
        <h2>Update profile</h2>
      </div>
      <div class="dash_wrapper">
        <div class="dash_banner">
          <img class="dash_banner_img" src="{{ current_profile.image_link }}" />
        </div>
      </div>
      <div class="profile_chooser">
        <!-- Loop through each profile picture -->
        {% for profile in profile_pictures %}
          <div class="profile_wrapper">
            <div class="profile_image_wrapper">
              <img class="profile_image" src="{{ profile.image_link }}" alt="{{ profile.name }}"/>
            </div>
            <div class="profile_meta">
              <div class="profile_name">{{ profile.name }}</div>
              <div class="profile_source">{{ profile.source }}</div>
              <div class="profile_collection">{{ profile.collection }}</div>
              <div><a class="profile_edit_link" href="{% url 'members:edit_member' %}?selected_pic={{ profile.id }}">set</a></div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
