{% extends "base.html" %}

{% block loadcss %}

{% endblock %}

{% block title %}
Error!
{% endblock %}

{% block content %}
<div class="section">
  <h2>Whoa there!</h2>
  
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <p>We have an idea of what just broke from AI, but what's <a href="{% url 'index:contact_support' %}" class="button_link neutral">your side of the story</a>?</p>
</div>
{% endblock %}
