{% extends "base.html" %}

{% block loadcss %}

{% endblock %}

{% block title %}
Error!
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">TMO review</h1>
        </div>
    </div>
</div>
<div class="section">
  <div class="in_margins_60">
    <div class="section_title_wrapper">
      <h2 class="section_title">Infraction & Decision <i class="fa-regular fa-circle-question"></i></h2>
    </div>
    <div class="section_trapper">
      <a href="{% url 'index:contact_support' %}">contact support</a>
    </div>
    <div class="messages_wrapper">
       {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div> 
{% endblock %}
