{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
    <link rel="stylesheet" href="{% static 'f5members/profiles.css' %}">
{% endblock %}

{% block title %}
Members
{% endblock %}

{% block content %}
<div class="service_wrapper">
    <div class="service_jumbo">
        <div class="in_margins_60">
            <h1 class="service_title">Members</h1>
        </div>
    </div>
</div>

<div class="section">
  <div class="in_margins_60">
      <div class="section_title_wrapper">
          <h2 class="section_title">Information</h2>
      </div>
      <div class="profile_chooser">
        <!-- Loop through each profile picture -->
        <p>Our platform doesn't require you to create an account. By design you can register for events, purchase products, download programs, and more without signing up. Each service page has base features and <em>unlockable features</em> when you create a free account.</p>
      </div>
</div>

<div class="section">
  <div class="in_margins_60">
    <div class="section_title_wrapper">
        <h2 class="section_title">Getting started</h2>
    </div>
    <div class="profile_chooser">
      <!-- Loop through each profile picture -->
      <p>When creating an account you have the choice to register as a player, coach, parent, or as a fan/other. You will have special instructions waiting in your mailbox once logged in. Help the rugby community grow by interacting with our platform.</p>
    </div>
</div>

<div class="section">
  <div class="in_margins_60">
      <div class="section_title_wrapper">
          <h2 class="section_title">Community goals</h2>
      </div>
      <div class="profile_chooser">
        <!-- Loop through each profile picture -->
        <p>Watch the community trackers light up as we make progress towards better rugby infastructure in North America. When you join First Five, you're joining a team of people committed to success. Members on here post live scores during local rugby matches, write community wide blogs, and they even trade vintage rugby jerseys on our store!</p>
  </div>
</div>
{% endblock %}

