<!-- project/f5members/templates/f5members/dashboard.html -->
{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
{% endblock %}

{% block title %}
Dashboard / {{ profile.username }}
{% endblock %}


{% block content %}
<div class="section">
    <div class="in_margins_60">
        <h2 class="section_title">
            @{{ profile.username }}
        </h2>
        <div class="dash_wrapper">
            <div class="dash_section">
                <div class="small_title">
                    Banner
                </div>
                <div class="dash_banner">
                    <img class="dash_banner_img" src="{{ profile.pic_url }}" />
                </div>  
            </div>
            <div class="dash_section">
                <div class="small_title">
                    Featured
                </div>
                <div class="dash_data">
                    You can show off your achievements here.
                </div>
            </div>
            <div class="dash_section">
                <div class="small_title">
                    Highlights
                </div>
                <div class="dash_data">
                    You best scores and top records will show here.
                </div>
            </div>
        </div> <!-- end of dash wrapper -->
    </div>
</div>

{% endblock %}