<!-- project/f5members/templates/f5members/dashboard.html -->
{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
{% endblock %}

{% block title %}
Dashboard / {{ profile.username }}
{% endblock %}


{% block content %}
<div class="section">
    <div class="profile_img">
        <img src="{{ profile.pic_url }}" alt="{{ profile.username }} Profile Picture" class="img_fluid" height="100px">
    </div>
    
    <div class="profile_greeting">
        <div class="greet">Member</div>
        <div class="username">{{ profile.username }}</div>
        <p>Role: {{ profile.get_user_type_str }}</p>
    </div>
</div>

{% endblock %}