<!-- project/f5members/templates/f5members/dashboard.html -->
{% extends "base.html" %}

{% block loadcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'f5members/f5members.css' %}">
{% endblock %}

{% block title %}
Dashboard / {{ profile.username }}
{% endblock %}


{% block content %}
<div class="section">
    <div class="in_margins_60">
        <div class="section_title">
            Username: @{{ profile.username }}
        </div>
        <div class="dash_wrapper">
            <div class="dash_section">
                <div class="dash_title">
                    Featured
                </div>
                <div class="dash_data">
                    You can hsow off your achievements here.
                </div>
            </div>
            <div class="dash_section">
                <div class="dash_title">
                    Highlights
                </div>
                <div class="dash_data">
                    You best scores and top records will show here.
                </div>
            </div>
        </div> <!-- end of dash wrapper -->
    </div>
</div>

{% endblock %}