.dash_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 46px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.dash_banner_img {
    height: 100%;
}

.section_list {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    letter-spacing: .1rem;
}

.dash_wrapper {
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dash_section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.item_summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_chooser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.profile_edit_link {
    color: black;
}

.profile_wrapper {
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.profile_meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
    text-align: center;
}

.profile_name {
    font-weight: bold;
}

.profile_source {
    font-size: .9em;
}

.profile_collection {
    color: rgb(57, 57, 57);
    font-size: .75em;
}

@media only screen and (max-width: 680px) {
    .section_container {
        width: auto;
    }

    .profile_chooser {
        grid-template-columns: 1fr;
    }
}

