.members_area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile_banner {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section_container {
    width: 60%;
    margin: 0 auto;
}

.section_title {
    border: 1px solid white;
    padding: 5px;
}

.members_stats {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.section_list {
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.metric {
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Courier New';
}

@media only screen and (max-width: 680px) {
    .section_container {
        width: auto;
    }
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.result_table {
  display: block;
  box-sizing: border-box;
  width: auto;
  padding: 1em 2vw;
  margin: 1em 2vw;
  color: #000;
  background-color: rgba(204, 204, 204, 0.7);
  border: 0.07em solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
}

caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

th,
td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
  text-indent: -0.5em;
}

th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.25);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.5);
}

td:nth-of-type(2) {
  font-style: italic;
}

th:nth-of-type(3),
td:nth-of-type(3) {
  text-align: right;
}

