.members_area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile_banner {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile_banner img {
    
}

.section_container {
    width: 60%;
    margin: 0 auto;
}

.section_title {
    border: 1px solid white;
    padding: 5px;
}

.members_stats {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.section_list {
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.metric {
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Courier New';
}

@media only screen and (max-width: 680px) {
    .section_container {
        width: auto;
    }
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


tbody td {
  /* 1. Animate the background-color
     from transparent to white on hover */
  background-color: rgba(255,255,255,0);
  transition: all 0.2s linear; 
  transition-delay: 0.3s, 0s;
  /* 2. Animate the opacity on hover */
  opacity: 0.6;
}
tbody tr:hover td {
  background-color: rgba(255,255,255,1);
  transition-delay: 0s, 0s;
  opacity: 1;
  font-size: 2em;
}

td {
  /* 3. Scale the text using transform on hover */
  transform-origin: center left;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
tr:hover td {
  transform: scale(1.1);
}


/* Codepen styling */
* { box-sizing: border-box }

table {
  width: 90%;
  margin: 0 5%;
  text-align: left;
}
th, td {
  padding: 0.5em;
}

.result_table {
  display: flex;
  padding: 1rem;
  border: 1px solid white;
  border-top: none;
  color: goldenrod;
}

.result_table > *  {
  margin: auto;
  font-family: 'Lato', sans-serif;
}
