.profile_banner {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section_list {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    letter-spacing: .1rem;
}


.item_summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 680px) {
    .section_container {
        width: auto;
    }
}

