.profile_img img {
    aspect-ratio: 1 / 1;
    height: 50px;
    padding: .3rem;
    border: 1px solid white;
    border-radius: 50%;
}

.profile_greeting .greet {
    font-size: 2.5em;
}

.profile_greeting .username {
    font-weight: bold;
    font-size: 1.7em;
}

.user_type {
    color: green;
}
