.blog_container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    flex-wrap: wrap;
}

.blog_card {
    padding: 1rem; /* spacing inside the card */
    margin-bottom: 1rem; /* spacing between cards */
    position: relative; /* for absolute positioning of elements inside */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.blog_link {
    color: gray;
    text-decoration: none;
    text-decoration: underline;
}

.blog_tag {
    margin-top: 0;
    .blog_link {
        background-color: rgba(144, 144, 144, 0.227);
        text-decoration: none;
        border-radius: 20px;
        padding: .25rem .75rem;
    }
}

.blog_read {
    margin-top: 0;
    text-align: right;
    .blog_link {
        color: white;
        background: darkred;
        padding: .25rem .75rem;
    }
}

.blog_thumbnail {
    height: 200px;
    background-size: cover; 
    background-position: center;
}

.blog_thumbnail img {
    width: 100%; /* full width of the card */
    height: auto; /* maintain aspect ratio */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.blog_title {
    margin-top: 8px; /* space above title */
    color: #333; /* title text color */
}

.blog_description {
    color: #666; /* description text color */
    margin-top: 8px; /* space above description */
}

.blog_date {
    color: #3c3c3c; /* date text color */
    margin-top: 8px; /* space above date */
    font-size: 0.8em; /* smaller font size for date */
}