.authform {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.authform p {
    margin: 0;
}

.form_wrapper {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    padding: 1rem;
    background-color: black;
    color: white;
    width: fit-content;
}