.matches_container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.team_name {
    text-transform: uppercase;
    font-size: .8rem;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
    .crest_name_group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

.date_time_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.team_crest {
    height: 40px;
    width: 40px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.match_card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.team_score {
    font-weight: bold;
    font-style: italic;
}

.date_time_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    .match_date {
        color: #3c3c3c; /* date text color */
        font-size: .8rem;
        margin: 0;
    }

    .match_time {
        color: #3c3c3c; /* date text color */
        font-size: .8rem;
        margin: 0;
    }
}

@media only screen and (max-width: 680px) {
    .match_card {
        width: 100%;
    }
}
