.matches_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.team_group {
    display: flex;
    align-items: center;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.team_crest {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.team_name, .team_score {
    margin: 0;
}

.versus {
    font-size: 20px;
    font-weight: bold;
}

.date_time_group {
    margin-top: 10px;
    text-align: center;
}

.match_date, .match_time {
    margin: 0;
}
