/* The Modal (background) */
.modal_wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal_combo {
  display: flex;
  gap: 1rem;
}

/* Set a style for all buttons */
.modal_wrapper button {
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2em;
}


/* Add padding and center-align text to the container */
.modal_wrapper .container {
  text-align: center;
}

/* Confirm Delete Entry Form */
.modal_form {
  background-color: #000000;
  color: white;
  padding: 1rem;
  border: 1px solid white;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 680px) {
  .modal_form {
    width: 95%;
  }
}

.modal_link {
  text-decoration: underline;
  cursor: pointer;
}