@font-face {
    font-family: 'five-regular';
    src: url("/static/project/fonts/sofachrome.rg-regular.otf");
}

@font-face {
    font-family: 'five-italic';
    src: url("/static/project/fonts/sofachrome.rg-italic.otf");
}

body {
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

.jumbo_title {
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
}

.spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link_black {
    color: #000000;
}

.link_black:visited {
    color: #000000;
}

.link_white {
    color: #ffffff;
}

.link_white:visited {
    color: #ffffff;
}

.in_margins_60 {
    width: 60%;
    margin: 0 auto;
}

.in_margins_70 {
    width: 70%;
    margin: 0 auto;
}

.section_data_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.data_card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;
}

.card_meta {
    font-size: .75em;
    color: #525252;
}

.section {
    margin-top: 3rem;
}

.section_title {
    margin: 0;
    font-weight: 400;
}

.section_title_wrapper {
    padding-bottom: 1rem;
}

.section_image {
    margin: 2rem 0;
}

.service_wrapper {
    height: 40vh;
    background-color: #000000;
}

.service_title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}

.service_jumbo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-bottom: 1rem;
}

.section_header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.feature_slider {
    margin-top: 1rem;
}

.slider_image {
    max-width: 100%; 
}

.errorlist {
    color: tomato;
}

p.username {
    margin-top: 1rem;
}

.form_wrapper {
    min-width: 40%;
    margin: 0 auto;
}

form {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.search_form_container {
    width: 60%;
    margin: 1rem auto;
    display: none;
    border: 1px solid white;
    padding: 1rem;
}

.auth_form {
    max-width: 40%; 
}

form p {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

form ul {
    padding: .1rem;
    list-style-type: none;
}

form label {
    font-size: 1.1em;
    font-weight: bold;
}

.submit {
    margin-top: 1.5rem;
    font-size: 2em;
}

.filter {
    font-size: 1.1em;
    height: 50%;
}

input {
    height: 40px;
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: none;
    border-bottom: 1px solid white;
}

input:focus {
    outline: none;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    outline: none;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button:focus {
    border: none;
    outline: none;
}

.special_area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section_container {
    width: 60%;
    margin: 0 auto;
}

.special_stats {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.metric {
    color: #15f7ff;
    font-size: 1.3em;
    -webkit-text-stroke-width: thick;
    font-style: italic;
    font-family: 'Courier New';
}


@media only screen and (max-width: 680px) {
   .in_margins_60 {
        width: 90%;
    }

    .in_margins_70 {
        width: 90%;
    }

    .section_data_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.button_link_group {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.default {
    color: white;
}

.primary {
    color: green;
}

.positive {
    color: skyblue;
}

.neutral {
    color: tomato;
}

.dead {
    color: lightgray;
}

.price {
    color: green;
    font-size: .7rem;
}

.ad_wrapper {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    flex-wrap: wrap;
}

.two_split {
    display: grid;
    grid-template-columns: auto .4fr;
    gap: 1rem;
}

.dead::after {
    content: ''; /* pseudo-elements must always have a `content` */
    position: absolute; /* lets us position it with respect to the `.fancy-strikethrough */

    /* placement */
    left: 0;
    top: 50%;

    /* make it a line */
    height: 1px;
    width: 100%;
    background: red;
}

.delete {
    color: rgb(180, 30, 30);
    border: 1px solid rgb(180, 30, 30);
}

.cancel {
    color: darkgrey;
}

.horizontal_divider {
    width: 0.3rem;
    height: auto;
    display: inline-block;
}

.results_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
    margin-top: 1rem;
}

.result_list li a {
    text-decoration: none;
    color: white;
}

.result_list li a:hover {
    text-decoration: underline;
}

.result_list li a:visited {
    color: white;
}

.float_right_div {
    position: relative;
    float: right;
}

.footer {
    margin-top: 50vh;
    padding: 1rem 0 2.5rem 0;
}


.list_item details {
  border: 1px solid white;
  border-radius: 10px;
}

.list_item summary {
    cursor: pointer;
    font-weight: bold;
    padding: 1rem .5rem;
}

.list_item details[open] {
    padding: .5rem;
}

.list_item details[open] summary {
    margin-bottom: 0.5em;
    padding-left: .5rem;
}

@media only screen and (max-width: 680px) {
    .list_item summary {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .two_split {
        grid-template-columns: 1fr;
    }
}
