body {
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.section {
    min-height: 50vh;
}

.section * {
    margin: 0;
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1.2rem 0;
    margin: 0;
}

.navlist li {
    margin-right: 10px;
}

.navlist li a {
    text-decoration: none;
    color: white;
}

.navlist li a:hover {
    text-decoration: underline;
}

.navlist li a:visited {
    color: white;
}

.form_wrapper {
    width: 40%;
    margin: 0 auto;
}

.blog_form_wrapper {
    width: 60%;
    margin: 0 auto;
}

form {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

form p {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

form ul {
    padding: .1rem;
    list-style-type: none;
}

form label {
    font-size: 1.1em;
    font-weight: bold;
}

input {
    height: 25px;
}

input:focus {
    outline: none;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    outline: none;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button:focus {
    border: none;
    outline: none;
}

@media only screen and (max-width: 680px) {
    .form_wrapper {
        width: 100%;
        margin: 0;
    }
}


.edit_button_group {
    display: flex;
    flex-direction: row;
    padding: 0 0 .6rem 0;
    margin: 0;
    
}
.edit_button_group button {

    /* display: inline; */
    padding: 0.2rem 1rem;
}

.horizontal_divider {
    width: 0.3rem;
    height: auto;
    display: inline-block;
}

.result_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1.2rem 0;
    margin: 0;

}
.result_list li {
    margin-bottom: 0.5rem;
}

.result_list li a {
    text-decoration: none;
    color: white;
}

.result_list li a:hover {
    text-decoration: underline;
}

.result_list li a:visited {
    color: white;
}

.float_right_div {
    position: relative;
    float: right;
}