body {
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    transition: filter 0.3s ease;
}

.container.blur {
    filter: blur(5px); /* Adjust this based on your design */
    pointer-events: none;
}

.section {
    padding-bottom: 5rem;
}

.section * {
    margin: 0;
}

.section_header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.errorlist {
    color: tomato;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgb(180, 30, 30);
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding: 1rem;
}

nav.open {
    transform: translateX(0);
}

.brand_bar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(180, 30, 30);
    margin-bottom: 2.5rem;
}

.brand_title h1 {
    margin: 0;
    font-size: 1.5rem;
    font-size: 1.8em;
    font-style: italic;
}

.toggle_button {
    margin: 0;
    font-size: 1.6em;
}

.toggle_button:hover {
    cursor: pointer;
}

.brand_bar .toggle_button {
    font-size: 2rem;
}


.navlist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.navlist li {
    font-size: 1.2em;
}

.navlist li a {
    text-decoration: none;
    color: white;
}

.navlist li a:hover {
    text-decoration: underline;
}

.navlist li a:visited {
    color: white;
}

p.username {
    margin-top: 1rem;
}

.form_wrapper {
    min-width: 40%;
    margin: 0 auto;
}

form {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.search_form_container {
    width: 60%;
    margin: 1rem auto;
    display: none;
    border: 1px solid white;
    padding: 1rem;
}

.auth_form {
    max-width: 40%; 
}

form p {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

form ul {
    padding: .1rem;
    list-style-type: none;
}

form label {
    font-size: 1.1em;
    font-weight: bold;
}

.submit {
    margin-top: 1.5rem;
    font-size: 2em;
}

.filter {
    font-size: 1.1em;
    height: 50%;
}

input {
    height: 40px;
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: none;
    border-bottom: 1px solid white;
}

input:focus {
    outline: none;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    outline: none;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button:focus {
    border: none;
    outline: none;
}


@media only screen and (max-width: 680px) {
    .form_wrapper {
        width: 100%;
        margin: 0;
    }

    .auth_form {
        max-width: 100%; 
    }

    .search_form_container {
        width: 80%;
    }

    .brand_bar {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.button_link_group {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.default {
    color: white;
}

.positive {
    color: skyblue;
}

.neutral {
    color: tomato;
}

.horizontal_divider {
    width: 0.3rem;
    height: auto;
    display: inline-block;
}

.results_list {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
}

.result_list li a {
    text-decoration: none;
    color: white;
}

.result_list li a:hover {
    text-decoration: underline;
}

.result_list li a:visited {
    color: white;
}

.float_right_div {
    position: relative;
    float: right;
}

.footer {
    margin-top: 50vh;
}


.list_item details {
  border: 1px solid white;
  border-radius: 10px;
}

.list_item summary {
    cursor: pointer;
    font-weight: bold;
    padding: 1rem .5rem;
}

.list_item details[open] {
    padding: .5rem;
}

.list_item details[open] summary {
    margin-bottom: 0.5em;
    padding-left: .5rem;
}

@media only screen and (max-width: 680px) {
    .list_item summary {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}