@font-face {
    font-family: 'five-regular';
    src: url("/static/project/fonts/sofachrome.rg-regular.otf");
}

@font-face {
    font-family: 'five-italic';
    src: url("/static/project/fonts/sofachrome.rg-italic.otf");
}

body {
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

/* SMALL LAYOUT ELEMENTS */
.spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* LINKS AND COLORS */
.white_link {
    color: #ffffff;
}

.white_link:visited {
    color: #ffffff;
}

.in_margins_60 {
    width: 60%;
    margin: 0 auto;
}

.in_margins_70 {
    width: 70%;
    margin: 0 auto;
}

.section_data_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.data_card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;
}

.card_meta {
    font-size: .75em;
    color: #525252;
}

.section {
    padding-top: 3rem;
}

.section_title {
    margin: 0;
    font-weight: 400;
}

.small_title {
    font-weight: bold;
}

.subtext {
    margin: 0;
    color: #525252;
}

.section_title_wrapper {
    padding-bottom: 1rem;
}

.section_image {
    margin: 2rem 0;
}

.service_wrapper {
    height: 40vh;
    background-color: #000000;
}

.service_title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}

.service_jumbo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 680px) {
   .in_margins_60 {
        width: 90%;
    }

    .in_margins_70 {
        width: 90%;
    }

    .section_data_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.button_link_group {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.results_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
    margin-top: 1rem;
}

.result_list li a {
    text-decoration: none;
    color: black;
}

.result_list li a:hover {
    text-decoration: underline;
}

.result_list li a:visited {
    color: white;
}

.float_right_div {
    position: relative;
    float: right;
}

.footer {
    margin-top: 50vh;
    padding: 1rem 0 2.5rem 0;
}

.list_item details {
  border: 1px solid white;
  border-radius: 10px;
}

.list_item summary {
    cursor: pointer;
    font-weight: bold;
    padding: 1rem .5rem;
}

.list_item details[open] {
    padding: .5rem;
}

.list_item details[open] summary {
    margin-bottom: 0.5em;
    padding-left: .5rem;
}

@media only screen and (max-width: 680px) {
    .list_item summary {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}