.black_bg {
    background-color: black;
    color: white;
}

.jumbo_title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 1rem;
    border: 2px solid white;
    width: fit-content;
    margin: 3rem auto;
    box-shadow: rgb(255 255 255 / 20%) 0px 12px 28px 0px, rgb(255 255 255 / 10%) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.jumbo_feature {
    text-align: center;
    padding-bottom: 3rem
}

.jumbo_video {
    width: 70%;
}

@media only screen and (max-width: 680px) {
    .jumbo_video {
        width: 100%;
    }
}