.livewire_wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.black_bg {
    background-color: black;
    color: white;
}

.jumbo_feature {
    text-align: center;
    padding-bottom: 1rem
}

.jumbo_video {
    width: 70%;
}

@media only screen and (max-width: 680px) {
    .jumbo_video {
        width: 100%;
    }
}