.black_bg {
    background-color: black;
    color: white;
}

.jumbo_title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 1rem;
    border: 2px solid white;
    width: fit-content;
    margin: 3rem auto;
}

.jumbo_feature {
    text-align: center;
    padding-bottom: 3rem
}

.jumbo_video {
    width: 70%;
}

@media only screen and (max-width: 680px) {
    .jumbo_video {
        width: 100%;
    }
}