.profile_card {
  background-color: white;
  color: black;
  padding: 2rem 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 80%;
  width: 50%;
  margin: 0 auto;
}

.profile_pic {
  text-align: center;
  margin: 0 auto;
}

.profile_pic img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid black;
  width: 250px;
  padding: 1rem;
}

.profile_bio {
  text-align: center;
  width: 60%;
}

.profile_username {
  padding: 0 2rem;
}

.tab-container {
    display: flex;
    flex-direction: column;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
}

.tab-header {
    display: flex;
    margin-bottom: 10px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
}

.tab:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

@media only screen and (max-width: 680px) {
    .profile_card {
        width: auto;
    }
}
