{% extends "base.html" %}

{% block loadcss %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'f5store/f5store.css' %}">
{% endblock %}

{% block title %}
  Store
{% endblock %}

{% block content %}
<hr>
<div class="section">
    <div class="product_detail">
        <h1>{{ product.name }}</h1>

        {% if user.is_authenticated %}
        <div class="button_link_group">
            <a href="{% url 'products:product_edit' product.id %}" class="button_link neutral">Edit product</a> |
            <a href="{% url 'products:product_delete' product.id %}" class="button_link neutral">Delete product</a>
        </div>
        {% endif %}

        <p class="product_date">Price: ${{ product.price }}</p>
        <p class="product_date">Category: {{ product.categories }}</p>
        <p class="product_date">Material: {{ product.materials }}</p>

        <div class="product_container">
            <h3>Description</h3>
            <p>{{ product.description|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}